.title{

	color: red;
	font-size: 20 px;
}

.text{
	color: green;
}
.description{
	color: gray;
	font-size: 30 px;
	border: black;
	background-color: black;
}
.image{
width: 250 px;
left: 20 px;
position: relative;

}
.button{

	position: relative;
	left: 200 px;
}